[submodule "themes/roxo-hugo"]
	path = themes/roxo-hugo
	url = git@github.com:StaticMania/roxo-hugo.git
[submodule "ngd/themes/roxo-hugo"]
	path = ngd/themes/roxo-hugo
	url = git@github.com:StaticMania/roxo-hugo.git
